<!-- Just an image -->
<nav class="navbar navbar-dark bg-primary sticky-top">
  <a class="navbar-brand" routerLink="/admin/dashboard">
    <img src="https://getbootstrap.com/docs/4.2/assets/brand/bootstrap-solid.svg" width="30" height="30" alt="">
  </a>
  <div class="dropdown">
    <button type="" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
      Welcome, {{username}}
    </button>
    <div class="dropdown-menu">
      <a class="dropdown-item" routerLink="#">Profile</a>
      <a class="dropdown-item" href="javascript:void(0)" (click)="logout()">Logout</a>
    </div>
  </div>
 </nav>



 <div class="mt-2"></div> 